<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PorpertyBaseAddress" value="1D40386" />
    <!--<add key="GoodsBaseAddress" value="5FA8078" /> --><!-- win7 -->
	<add key="GoodsBaseAddress" value="6018078" /> <!-- win8 -->
	<add key="SkillBaseAddress" value="1D403E6" />
    <add key="SkillLevelBaseAddress" value="1D403FA" />
    <add key="TeammateBaseAddress" value="1D4032A" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
